dms/src/main/mule/dms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="547d81c5-3ff8-4aa8-bda4-3bc534f44ed3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dmsFlow" doc:id="62dca641-78b3-4422-b23a-32444f0eadd8" >
		<http:listener doc:name="Listener" doc:id="99d26db4-b568-40ed-97b7-ec0e1cd01441" config-ref="HTTP_Listener_config" path="/s"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0d347fc1-17c6-424f-8f07-e1b2fa347b8a" />
		<logger level="INFO" doc:name="Logger" doc:id="3a0bdf7a-aec2-4ad9-90f3-cd54e4461b8b" />
	</flow>
</mule>
